.Cart--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.Cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #f7f8f9;
  width: 800px;
  min-height: 360px;
  border-radius: 1em;
  padding: 16px;
  box-sizing: border-box;
}