.CartHeader {
  padding: 16px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
}