@import '../../mixins';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  gap: 8px;
  line-height: 1.4;
  transition: opacity 0.2s ease;
  /* min-width: 100px; */
}
.Button:hover {
  opacity: 0.8;
}
.fullWidth {
  width: 100%;
}
.addon {
  display: flex;
}
.square {
  border-radius: 0;
}
.normal {
  @include theme(background-color, accent);
}
.success {
  background-color: #0cb603;
}
.error {
  background-color: #f02727;
}
.primary {
  color: white;
}
.secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.text {
  color: #1ea7fd;
  background-color: transparent;
}
.s {
  font-size: 12px;
  padding: 10px;
}
.m {
  font-size: 14px;
  padding: 12px;
}
.l {
  font-size: 16px;
  padding: 14px;
}
.ButtonSpinner {
  animation: button-spinner 0.75s linear infinite;
}

@keyframes button-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
