.LanguageSwitcher {
  padding: 8px;
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 62px;
  box-sizing: border-box;
}

.LanguageSwitcher--language {
  font-size: 16px;
  line-height: 16px;
  font-family: "Nunito Sans",arial,sans-serif;
}