@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

.ProductCard--s {
  width: 220px;
  height: 410px;
}

.ProductCard--m {
  width: 310px;
  height: 460px;
}

.ProductCard--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.ProductCard--wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ProductCard--container-image {
  margin: 1px;
  width: 100%;
}

.ProductCard--wrapper-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 12px 12px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 18px;
  font-family: "Open Sans",arial,sans-serif;
}

.ProductCard--wrapper-info-m {
  gap: 16px;
}


.ProductCard--image {
  width: 100%;
  object-fit: cover;
  max-height: 220px;
  border-radius: 1em 1em 0 0;
}

.ProductCard--price {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .4px;
  line-height: 20px;
  color: #10c44c;
  font-family: "Roboto",arial,sans-serif;
}

.ProductCard--title {
  width: 100%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.ProductCard--description {
  width: 100%;
  font-size: 14px;
  font-family: "Nunito Sans",arial,sans-serif;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ProductCard--category {
  width: 100%;
  font-size: 12px;
  font-family: "Nunito Sans",arial,sans-serif;
  /* font-weight: 700; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.ProductCard--cart {
  margin-top: auto;
}

.swiper-container {
  width: 100%;
  margin: 1px;
  border-radius: 1em 1em 0 0;
}

.swiper-wrapper .swiper-slide {
  width: 100% !important;
  object-fit: cover;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 28px;
  font-weight: 700;
  background: rgba(255,255,255,0.35);
  padding: 10px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.75)
}