@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import '../../mixins';

.s {
  width: 220px;
  height: 410px;
}

.m {
  width: 310px;
  height: 460px;
}

.ProductCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

  @include theme(background-color, mainBg);
  @include theme(color, text);
}

.ProductCardWrapperImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ProductCardContainerImage {
  margin: 1px;
  width: 100%;
}

.ProductCardWrapperInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 12px 12px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 18px;
  font-family: 'Open Sans', arial, sans-serif;
}

.ProductCardWrapperInfoM {
  gap: 16px;
}

.ProductCardImage {
  width: 100%;
  object-fit: cover;
  max-height: 220px;
  border-radius: 1em 1em 0 0;
}

.ProductCardPrice {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-family: 'Roboto', arial, sans-serif;
  /* color: var(--product-card-price-color); */

  @include theme(color, priceColor);
}

.ProductCardTitle {
  width: 100%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.ProductCardDescription {
  width: 100%;
  font-size: 14px;
  font-family: 'Nunito Sans', arial, sans-serif;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ProductCardCategory {
  width: 100%;
  font-size: 12px;
  font-family: 'Nunito Sans', arial, sans-serif;
  /* font-weight: 700; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.ProductCardCart {
  margin-top: auto;
}
