.Main--wrapper {
  display: flex;
  flex-grow: 1;
  background-color: var(--main-background-color);
  margin-top: 56px;
}

.Main {
  display: grid;
  grid-template-rows: 410px 460px;
  row-gap: 16px;
  padding: 24px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  max-width: 1248px;
  box-sizing: border-box;
}

.Main p {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Main--products {
  display: flex;
  gap: 16px;
}