.ButtonCart {
  display: flex;
}

.ButtonCart--controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--button-normal-background-color);
  font-size: 14px;
  padding: 12px 20px;
  border: 0;
  border-radius: 3em;
}

.ButtonCart--controls button {
  color: white;
}