@import '../../mixins';

.ButtonCart {
  display: flex;
}

.ButtonCartControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px 20px;
  border: 0;
  border-radius: 3em;

  @include theme(background-color, accent);
}

.ButtonCartControls button {
  color: white;
}