@import '../../mixins';
@import '../../common';

.HeaderWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  @include theme(background-color, mainBg);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 24px;
  height: $headerHeight;
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
  box-sizing: border-box;
}

.HeaderTheme {
  margin-left: auto;
}
