.Header--wrapper {
  background-color: var(--header-background-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 24px;
  height: 56px;
  margin: 0 auto;
  max-width: 1248px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.Header--theme {
  margin-left: auto;
}