@import '../../../mixins';

.CartItem {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;

  /* ackground: #fff; */
  @include theme(background-color, mainBg);
}

.CartItemWrapperImage {
  width: 160px;
  height: 160px;
}

.CartItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.CartItemPrice {
  padding: 8px;
  background: green;
  border-radius: 10px;
  color: #fff;
}

.CartItemDeleteButton {
  margin-left: auto;
}

.CartItemTitle,
.CartItemPrice {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
}
